//
   Created by PHI on 5/24/2015.
extends layout
block content
   // start: Header
   .container-fluid-full
      .row-fluid
         // start: Main Menu
         #sidebar-left.span2
            .nav-collapse.sidebar-nav
               ul.nav.nav-tabs.nav-stacked.main-menu
                  //li
                  //   a(href='/manager')
                  //      i.icon-dashboard
                  //      span.hidden-tablet  Dashboard
                  li
                     a(href='/manager/user')
                        i.icon-edit
                        span.hidden-tablet  Quản lí người dùng
                  li
                     a(href='/manager/menu')
                        i.icon-tasks
                        span.hidden-tablet  Quản lí thực đơn
                  li
                     a(href='/manager/track')
                        i.icon-eye-open
                        span.hidden-tablet  Theo dõi người dùng
                  li
                     a(href='/manager/statistic')
                        i.icon-bar-chart
                        span.hidden-tablet  Thống kê đến ăn
                  //li
                  //   a(href='/manager/chart')
                  //      i.icon-bar-chart
                  //      span.hidden-tablet  Biểu đồ
                  li
                     a(href='/manager/calculate')
                        i.icon-shopping-cart
                        span.hidden-tablet  Tính phí
                  li
                     a(href='/manager/accounting')
                        i.icon-calendar
                        span.hidden-tablet  Kế toán
         // end: Main Menu
         noscript
            .alert.alert-block.span10
               h4.alert-heading Warning!
               p
                  | You need to have
                  a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
                  |  enabled to use this site.
         // start: Content
         #content.span10(ng-app="abortList", ng-controller="getList")
            ul.breadcrumb
               li
                  i.icon-home
                  a(href='index.html') Home
                  i.icon-angle-right
               li
                  a(href='#') Charts
            //.row-fluid
            //   .widget.span6(ontablet='span6', ondesktop='span6')
            //      h2
            //         span.glyphicons.facebook
            //            i
            //         | Facebook Fans
            //      hr
            //      .content
            //         #facebookChart(style='height:300px')
            //   // /span
            //   .widget.span6(ontablet='span6', ondesktop='span6')
            //      h2
            //         span.glyphicons.twitter
            //            i
            //         | Twitter Followers
            //      hr
            //      .content
            //         #twitterChart(style='height:300px')
            //   // /span
            .row-fluid
               p Chọn tháng
                  input#control.btn.btn-primary(type="date",ng-model="date",ng-change="update()")
            .row-fluid
               .widget.span6(ontablet='span6', ondesktop='span6')
                  h2
                     span
                        i
                     | Đăng ký ăn
                  hr
                  .content
                     #registerChart(style='height:300px')
               // /span
               .widget.span6(ontablet='span6', ondesktop='span6')
                  h2
                     span
                        i
                     | Thực tế ăn
                  hr
                  .content
                     #realChart(style='height:300px')
               // /span
            script.
               var date=new Date();
               var monParam=date.getMonth()+1;
               var yearParam=date.getFullYear();
               $("#control").val(date.toISOString().substr(0,10));
               $("#control").change(function(){
                  var prepare=new Date();
                  if($("#control").val()=="") $("#control").val(prepare.toISOString().substr(0,10));
                  var date= new Date($("#control").val());
                  month=date.getMonth()+1;
                  year= date.getFullYear();
                  drawChart(month,year);
               });
               function daysInMonth(month, year) {
                  return new Date(year, month, 0).getDate();
               }
               function makeArray(daysInMonth,month,year){
                  var Array=[];
                  for(i=1;i<=daysInMonth(month,year);i++){
                     Array.push([i,0]);
                  }
                  return Array;
               }
               drawChart(monParam,yearParam);
               function drawChart(monParam,yearParam){
                  $.get("/manager/track/register?month="+monParam+"&year="+yearParam,function(data){
                     var register=makeArray(daysInMonth,monParam,yearParam);
                     if(data.type=='error'){
                        alert(data.content);
                     }else{

                        data.content.forEach(function(object){
                           var array = $.map(object, function (value, index) {
                              return [value];
                           });
                           register.forEach(function(rgdata){
                              if(rgdata[0]==array[0]){
                                 rgdata[1]=array[1];
                              };
                           });
                        });
                        if($("#registerChart").length)
                        {
                           //var likes = [[1, 5+randNumFB()], [2, 10+randNumFB()], [3, 15+randNumFB()], [4, 20+randNumFB()],[5, 25+randNumFB()],[6, 30+randNumFB()],[7, 35+randNumFB()],[8, 40+randNumFB()],[9, 45+randNumFB()],[10, 50+randNumFB()],[11, 55+randNumFB()],[12, 60+randNumFB()],[13, 65+randNumFB()],[14, 70+randNumFB()],[15, 75+randNumFB()],[16, 80+randNumFB()],[17, 85+randNumFB()],[18, 90+randNumFB()],[19, 85+randNumFB()],[20, 80+randNumFB()],[21, 75+randNumFB()],[22, 80+randNumFB()],[23, 75+randNumFB()],[24, 70+randNumFB()],[25, 65+randNumFB()],[26, 75+randNumFB()],[27,80+randNumFB()],[28, 85+randNumFB()],[29, 90+randNumFB()], [30, 95+randNumFB()]];
                           var plot = $.plot($("#registerChart"),
                                   [ { data: register, label: "đăng kí"} ],
                                   {
                                      series: {
                                         lines: { show: true,
                                            lineWidth: 2,
                                            fill: true, fillColor: { colors: [ { opacity: 0.5 }, { opacity: 0.2 } ] }
                                         },
                                         points: { show: true,
                                            lineWidth: 2
                                         },
                                         shadowSize: 0
                                      },
                                      grid: { hoverable: true,
                                         clickable: true,
                                         tickColor: "#f9f9f9",
                                         borderWidth: 0
                                      },
                                      colors: ["#3B5998"],
                                      xaxis: {ticks:6, tickDecimals: 0},
                                      yaxis: {ticks:3, tickDecimals: 0},
                                   });

                           function showTooltip(x, y, contents) {
                              $('<div id="tooltip">' + contents + '</div>').css( {
                                 position: 'absolute',
                                 display: 'none',
                                 top: y + 5,
                                 left: x + 5,
                                 border: '1px solid #fdd',
                                 padding: '2px',
                                 'background-color': '#dfeffc',
                                 opacity: 0.80
                              }).appendTo("body").fadeIn(200);
                           }

                           var previousPoint = null;
                           $("#registerChart").bind("plothover", function (event, pos, item) {
                              $("#x").text(pos.x.toFixed(2));
                              $("#y").text(pos.y.toFixed(2));

                              if (item) {
                                 if (previousPoint != item.dataIndex) {
                                    previousPoint = item.dataIndex;

                                    $("#tooltip").remove();
                                    var x = item.datapoint[0],
                                            y = item.datapoint[1];

                                    showTooltip(item.pageX, item.pageY,"Có "+ y + " người "+
                                            item.series.label + " ngày " + x + " ." );
                                 }
                              }
                              else {
                                 $("#tooltip").remove();
                                 previousPoint = null;
                              }
                           });
                        }
                     }
                  })
                  $.get("/manager/track/real?month="+monParam+"&year="+yearParam,function(data) {
                     var real = makeArray(daysInMonth, monParam, yearParam);
                     if (data.type == 'error') {
                        alert(data.content);
                     } else {

                        data.content.forEach(function (object) {
                           var array = $.map(object, function (value, index) {
                              return [value];
                           });
                           real.forEach(function (rldata) {
                              if (rldata[0] == array[0]) {
                                 rldata[1] = array[1];
                              }
                              ;
                           });
                        });
                        if($("#realChart").length)
                        {
                           //var real=[[1, 1], [2, 2], [3, 3], [4, 4],[5, 5],[6, 6],[7, 7], [8, 8], [9, 9], [10, 10]];

                           var plot = $.plot($("#realChart"),
                                   [ { data: real, label: "Thực tế"} ], {
                                      series: {
                                         lines: { show: true,
                                            lineWidth: 2,
                                            fill: true, fillColor: { colors: [ { opacity: 0.5 }, { opacity: 0.2 } ] }
                                         },
                                         points: { show: true,
                                            lineWidth: 2
                                         },
                                         shadowSize: 0
                                      },
                                      grid: { hoverable: true,
                                         clickable: true,
                                         tickColor: "#f9f9f9",
                                         borderWidth: 0
                                      },
                                      colors: ["#1BB2E9"],
                                      xaxis: {ticks:6, tickDecimals: 0},
                                      yaxis: {ticks:3, tickDecimals: 0},
                                   });

                           function showTooltip(x, y, contents) {
                              $('<div id="tooltip">' + contents + '</div>').css( {
                                 position: 'absolute',
                                 display: 'none',
                                 top: y + 5,
                                 left: x + 5,
                                 border: '1px solid #fdd',
                                 padding: '2px',
                                 'background-color': '#dfeffc',
                                 opacity: 0.80
                              }).appendTo("body").fadeIn(200);
                           }

                           var previousPoint = null;
                           $("#realChart").bind("plothover", function (event, pos, item) {
                              $("#x").text(pos.x.toFixed(2));
                              $("#y").text(pos.y.toFixed(2));

                              if (item) {
                                 if (previousPoint != item.dataIndex) {
                                    previousPoint = item.dataIndex;

                                    $("#tooltip").remove();
                                    var x = item.datapoint[0],
                                            y = item.datapoint[1];

                                    showTooltip(item.pageX, item.pageY,
                                           "Có "+ y + " người đến ăn ngày " + x );
                                 }
                              }
                              else {
                                 $("#tooltip").remove();
                                 previousPoint = null;
                              }
                           });

                        }
                     }
                  });
               }
               var app = angular.module('abortList', ['datatables', 'datatables.bootstrap', 'ui.bootstrap']);
               app.controller('getList', function ($scope, $http, $modal) {
                  //get user list
                  $scope.listUser = function (monParam,yearParam) {
                     $http.get("/manager/track/abort?month="+monParam+"&year="+yearParam)
                          .success(function (data) {
                             if (data.type == 'success') {
                                var content = data.content;
                                content.forEach(function (val) {
                                   var now = new Date(val.birthdate);
                                   val.birthdate = now;
                                   val.birthdate = now.toLocaleDateString();
                                   now=new Date(val.ngay);
                                   val.ngay= now.toLocaleDateString();
                                })
                                $scope.list = content;
                             }
                             else {
                             }
                          })
                          .error(function (data) {
                             console.log(data);
                          })
                  };
                  //run
                  $scope.listUser(monParam,yearParam);
                  $scope.update=function(){
                     var month=$scope.date.getMonth()+1;
                     var year=$scope.date.getFullYear();
                     $scope.listUser(month,year);
                  }
               });

               // /span
            .row-fluid.sortable()
               .box.span12
                  .box-header(data-original-title='')
                     h2
                        i.halflings-icon.white.user
                        span.break
                        | Người dùng không đến ăn
                     .box-icon
                        a.btn-setting(href='#')
                           i.halflings-icon.white.wrench
                        a.btn-minimize(href='#')
                           i.halflings-icon.white.chevron-up
                        a.btn-close(href='#')
                           i.halflings-icon.white.remove
                  .box-content
                     table.table.table-striped.table-bordered.bootstrap-datatable.datatable(datatable="ng")
                        thead
                           tr
                              th Ngày đăng ký
                              th Tài khoản
                              th Họ tên
                              th Ngày sinh
                              th Số điện thoại
                        tbody
                           tr(ng-repeat="user in list")
                              td.sorting_1 {{user.ngay}}
                              td.center {{user.username}}
                              td.center {{user.fullname}}
                              td.center {{user.birthdate}}
                              td.center {{user.sdt}}
               // /span
         // /.fluid-container
         // end: Content
      // /#content.span10
   // /fluid-row
   #myModal.modal.hide.fade
      .modal-header
         button.close(type='button', data-dismiss='modal') ×
         h3 Settings
      .modal-body
         p Here settings can be configured...
      .modal-footer
         a.btn(href='#', data-dismiss='modal') Close
         a.btn.btn-primary(href='#') Save changes
   #common-Modal1.common-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
         ul.list-inline.item-details
            li
               a(href='http://themifycloud.com') Admin templates
            li
               a(href='http://themescloud.org') Bootstrap themes
   .clearfix
   footer
      p
         span(style='text-align:left;float:left')
            | © 2015
            a ABCKitChen Dashboard
